/* ---------------- APPLICATION STYLES ---------------- */
:root {
  /* COLORS */
  --btn-bg-color: #317873; /* Myrtle Green */
  --btn-bg-color-hover: #0ca678; /* Green (Munsell) */
  --btn-bg-color-active: #20c997; /* Vivid Mint */

  /* NEUTRAL SHADES */
  --white: #fff;
  --black: #000;

  /* BORDERS */
  --border-color: #000; /* fallback border color */
  --border-style: 2px solid; /* border style */
  --border-radius: 5px; /* fallback border radius */

  /* CHECKBOX */
  --checkbox-bg-color-hover: oklch(
    0.861 0.088 146.035 / 0.5
  ); /* Tranquil Pastel Green */
  --checkbox-bg-color-checked: #3eb489; /* Mint */
}
