@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Mozilla+Headline:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* COLORS */
  --btn-bg-color: #317873; /* Myrtle Green */
  --btn-bg-color-hover: #0ca678; /* Green (Munsell) */
  --btn-bg-color-active: #20c997; /* Vivid Mint */

  /* NEUTRAL SHADES */
  --white: #fff;
  --black: #000;

  /* FONTS */
  --ff: 'Do Hyeon', Arial, Helvetica, sans-serif;
  --fs-l: 2.5rem;

  /* BORDERS */
  --border-color: #000; /* fallback border color */
  --border-style: 2px solid; /* border style */
  --border-radius: 5px; /* fallback border radius */

  /* CHECKBOX */
  --checkbox-bg-color-hover: oklch(0.861 0.088 146.035 / 0.5)
    /* Tranquil Pastel Green */;
  --checkbox-bg-color-checked: #3eb489; /* Mint */
}

* {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 5rem 2rem;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  font-family: var(--ff);
  display: grid;
  justify-items: center;
  align-items: start;
}

/* -------------------- GLOBAL STYLES -------------------- */
h2 {
  font-size: 2.5rem;
}

li {
  list-style: none;
  font-size: 1.2rem;
}

#root {
  width: 100%;
}

.task-container {
  margin-inline: auto;
  padding: 3rem 3rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
  width: 100%;
  max-width: 600px;
}

.title {
  text-align: center;
  margin: 0.5em 0;
  min-width: 100%;
  grid-column: 1 / -1;
}

.task-input-label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
  grid-column: 1 / -1;
  white-space: nowrap;
}

.task-input {
  --border-color: #ced4da;

  font: inherit;
  width: 100%;
  min-width: 400px;
  padding: 0.5em 1em;
  background: var(--white);
  border-radius: var(--border-radius);
  border: var(--border-style) var(--border-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.task-input:focus {
  outline: none;
  border-color: #087f5b;
  box-shadow: 0 0 0 4px rgba(8, 127, 91, 0.15) inset;
}

.task-input::placeholder {
  color: #adb5bd;
  font-style: italic;
  opacity: 1;
}

.btn {
  border: transparent;
  background-color: var(--btn-bg-color);
  color: var(--white);
  font: inherit;
  padding: 0.5em 1em;
  cursor: pointer;
  white-space: nowrap;

  transition: all 0.2s ease-in;

  &:hover {
    background-color: var(--btn-bg-color-hover);
    transition: all 0.2s ease-in;
  }

  &:active {
    background-color: var(--btn-bg-color-active);
    transition: none;
  }
}

.tasks-completed {
  font-size: 1.25rem;
  margin-bottom: 1em;
}

.task-list-container {
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  padding: 1rem;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  --border-color: oklch(70.7% 0.022 261.325);

  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  font-size: 1.15rem;
}

.task-checkbox {
  --border-color: #b2beb5;
  --border-radius: 4px;

  /* hide the default appearance of the checkbox */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Style the custom box */
  width: 1.5rem;
  height: 1.5rem;
  border: var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;

  /* Set up a grid/flexbox center to position the custom checkmark */
  display: grid;
  place-content: center;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--checkbox-bg-color-hover);
  }

  /* Build our own custom checkmark */
  &::before {
    content: '';
    width: 0.6rem;
    height: 0.35rem;
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    transform: rotate(-45deg) scale(0);
    transition: transform 0.2s ease-in-out;

    margin-bottom: 2px;
  }

  &:checked {
    background-color: var(--checkbox-bg-color-checked);
    border-color: var(--checkbox-bg-color-checked);

    /* Show the checkmark when checked */
    &::before {
      transform: rotate(-45deg) scale(1);
    }
  }
}
