@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Mozilla+Headline:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ---------------- GLOBAL STYLES ---------------- */
:root {
  /* FONTS */
  --ff: 'Do Hyeon', Arial, Helvetica;
  --fs-l: 2.5rem;
  --fs-m: 1.2rem;
}

* {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 5rem 2rem;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  font-family: var(--ff), sans-serif;
  display: grid;
  justify-items: center;
  align-items: start;
}

/* -------------------- GLOBAL STYLES -------------------- */
h2 {
  font-size: var(--ff), sans-serif;
}

li {
  list-style: none;
  font-size: var(--fs-m);
}

#root {
  width: 100%;
}
